<div style='height: 4rem; background-color: #262323; text-align: center; line-height: 4rem; font-size: 2em;'>
  <a href='/' style='color: white; text-decoration: none;'>Pascal's Guitar Chords</a>
</div>
